---
import Page from "@layouts/page";
---

<Page title="About me">
	<h1>About me</h1>
	<p>
	I am a total weirdo in disguise as a software engineer, writer and comedian. I also go by Didi!
	</p>
</Page>
