---
import Page from "@layouts/page";
---

<Page title="Contact me">
  <h1>Contact me</h1>
  <p><a href="https://github.com/aditiohri">Github @aditiohri</a></p>
  <p>IG, YT & TT @didiohreally</p>
  <p>Email: didiohri at gmail dot com</p>
</Page>
